@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1787425715596') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e718";
}

.icon-fabu:before {
  content: "\e618";
}

.icon-a-huaban1fuben3:before {
  content: "\e601";
}

