:root {
    --color-primary:#2563eb;
    --color-primary-hover:#1d4ed8;

    --color-success:#16a34a;
    --color-danger:#dc2626;

    --color-text:#1f2937;
    --color-text-secondary:#6b7280;
    --color-text-muted:#9ca3af;

    --color-border:#e5e7eb;
    --color-border-input:#d1d5db;

    --color-background:#f5f7fa;
    --color-surface:#ffffff;


    --container-width:900px;


    --radius-sm:8px;
    --radius-md:12px;
    --radius-lg:14px;


    --shadow-sm:
        0 4px 15px rgba(0,0,0,.03);

    --shadow-md:
        0 10px 30px rgba(0,0,0,.08);

    --shadow-lg:
        0 15px 40px rgba(0,0,0,.12);


    --transition:
        all .2s ease;
}