<!-- ==================================================
     昵称输入弹窗
     ================================================== -->

<div
    class="nickname-modal"
    id="nickname-modal"
>


    <div
        class="nickname-modal-backdrop"
    ></div>



    <div
        class="nickname-modal-content"
    >


        <h3>
            留下你的昵称
        </h3>



        <input
            type="text"
            id="nickname-input"
            maxlength="20"
            placeholder="请输入昵称"
        >



        <div
            class="nickname-modal-actions"
        >

            <button
                type="button"
                id="nickname-cancel"
            >
                取消
            </button>



            <button
                type="button"
                id="nickname-confirm"
            >
                确认
            </button>


        </div>


    </div>


</div>