{% extends "base.html" %}


{% block title %}
标签 #{{ tag.name }} - {{ site_name }}
{% endblock %}



{% block content %}


<section class="page-content">


<header class="page-header">


<div class="page-header-main">


<h1 class="page-header-title">

# {{ tag.name }}

</h1>


<p class="page-header-desc">

{% if tag.description %}
{{ tag.description }}
{% else %}
「{{ tag.name }}」标签下的全部文章
{% endif %}

（共 {{ articles | length }} 篇）

</p>


</div>


<div class="page-header-side">


<a
href="javascript:history.back()"
class="action-button"
>

← 返回

</a>


</div>


</header>


<!-- 文章列表 -->

<div class="article-list">


{% if articles %}



{% for article in articles %}



{% set item = {"data": article} %}

{% set active_tag = tag.name %}

{% include "components/article_card.html" %}



{% endfor %}



{% else %}



<div class="empty-state">

<p>

该标签下还没有文章

</p>

</div>



{% endif %}



</div>


</section>


{% endblock %}